/*
  //=require_directory .
  //=require_tree ../../widgets
*/
// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #222;
$text-color: #fff;

$background-danger-color-1: #e82711;
$background-danger-color-2: #9b2d23;
$text-danger-color: #fff;

$background-warning-color-1: #eeae32;
$background-warning-color-2: #ff9618;
$text-warning-color: #fff;

$widget-width: 200px;
$widget-height: 250px;
$widget-margin: 5px;

@-webkit-keyframes status-warning-background {
  0%   { background-color: $background-warning-color-1; }
  50%  { background-color: $background-warning-color-2; }
  100% { background-color: $background-warning-color-1; }
}
@-webkit-keyframes status-danger-background {
  0%   { background-color: $background-danger-color-1; }
  50%  { background-color: $background-danger-color-2; }
  100% { background-color: $background-danger-color-1; }
}
@mixin animation($animation-name, $duration, $function, $animation-iteration-count:""){
  -webkit-animation:  $animation-name $duration $function #{$animation-iteration-count};
  -moz-animation:     $animation-name $duration $function #{$animation-iteration-count};
  -ms-animation:      $animation-name $duration $function #{$animation-iteration-count};
}

// ----------------------------------------------------------------------------
// Base styles
// ----------------------------------------------------------------------------
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  width: 100%;
  height: 99%; // prevent a scroll bar
}

body {
  margin: 0;
  background-color: $background-color;
  font-size: 20px;
  color: $text-color;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

img, object {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}
h1 {
  margin-bottom: 12px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
h2 {
  text-transform: uppercase;
  font-size: 76px;
  font-weight: 700;
  color: $text-color;
}
h3 {
  font-size: 25px;
  font-weight: 600;
  color: $text-color;
}

// ----------------------------------------------------------------------------
// Base widget styles
// ----------------------------------------------------------------------------
.grid {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.icon-background {
  pointer-events: none;
  width: 100%!important;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  font-size: 275px;
  text-align: center;
  margin-top: 82px;
}

.list-nostyle {
  list-style: none;
}

.gs_w {
  width: 100%;
  display: table;
  cursor: pointer;
}

.widget {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  margin: $widget-margin;
  min-width: $widget-width;
  min-height: $widget-height;
  flex: 1;
}

.widget[data-span-cols="2"] {
  min-width: 2 * $widget-width;
  padding-left: $widget-margin;
  padding-right: $widget-margin;
  flex: 2;
}

.widget.status-warning {
  background-color: $background-warning-color-1;
  @include animation(status-warning-background, 2s, ease, infinite);

  .icon-warning-sign {
    display: inline-block;
  }

  .title, .more-info {
    color: $text-warning-color;
  }
}

.widget.status-danger {
  color: $text-danger-color;
  background-color: $background-danger-color-1;
  @include animation(status-danger-background, 2s, ease, infinite);

  .icon-warning-sign {
    display: inline-block;
  }

  .title, .more-info {
    color: $text-danger-color;
  }
}

.more-info {
  font-size: 15px;
  bottom: 32px;
  left: 0;
  right: 0;
}

.updated-at {
  font-size: 15px;
  bottom: 12px;
  left: 0;
  right: 0;
}

#container {
  padding-top: 5px;
  width: 100%;
  height: 100%;
}


// ----------------------------------------------------------------------------
// Clearfix
// ----------------------------------------------------------------------------
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
